.error {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: calc(100vh - 76px);
	text-align: center;
	background: linear-gradient(#000000, #222222);

	.error__wrapper {
		display: flex;
		flex-direction: row;
		width: 75%;

		div {
			width: 50%;
			margin-top: auto;
			margin-bottom: auto;

			svg {
				font-size: 70px;
				width: 160px;
				height: 160px;
			}

			a {
				color: aqua;
			}
		}
	}
	h1 {
		font-size: 5rem;
	}
}
