@media screen and (max-width: 960px) {
	.card {
		&:hover {
			video {
				opacity: 0.5;
				transition: 0.12s ease-in-out;
			}
		}
		width: 100%;
		.card__video {
			&:hover {
				video {
					opacity: 1;
					transition: 0.12s ease-in-out;
				}
			}
		}
	}
}

@media screen and (min-width: 960px) {
	// .card__notHovered {
	// 	opacity: 0.75;
	// }
	.card__hovered {
		opacity: 1;
		&:hover {
			.card__video {
				opacity: 0.1;
			}
		}
	}
	.card__hovered:hover .card__video {
		opacity: 0.2;
	}
}
