@media screen and (max-width: 960px) {
	.card {
		&:hover {
			video {
				opacity: 0.5;
				transition: 0.12s ease-in-out;
			}
		}
		width: 100%;
		.card__video {
			&:hover {
				video {
					opacity: 1;
					transition: 0.12s ease-in-out;
				}
			}
		}
	}
}

@media screen and (min-width: 960px) {
	.card {
		&:hover {
			opacity: 1;
		}
	}
	.card__lighten {
		opacity: 1;
	}
}
