@media screen and (max-width: 960px) {
	.card {
		width: 100%;

		.card__image {
			&:hover {
				opacity: 0;
			}
			img {
				width: 100%;
			}
		}
		.card__video {
			max-width: 100%;

			video {
				width: 640px;
				height: 360px;
			}
		}
	}
}

@media screen and (min-width: 960px) {
	.card {
	}
}
