$background: #000000;
$grey: #202020;
$greyLight: #3b3b3b;
$white: #cdcdcd;

.Navbar {
	color: $white;
	padding: 20px 10px;

	//formatting for large screens/ desktops
	.Navbar__desktop {
		height: 100%;
		padding: 5px 100px;
		display: flex;
		justify-content: space-between;

		.Navbar__desktop--image {
			width: 25%;
		}
		.Navbar__desktop--content {
			width: 35%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: row;

			div {
				display: flex;
				flex-direction: column;
				a {
					text-decoration: none;
					color: $white;
				}
				span {
					height: 3px;
				}
				&:hover {
					span {
						background-color: $white;
						animation-name: slideIn;
						animation-duration: 0.15s;
						animation-fill-mode: both;
					}
				}
			}
		}
	}

	//formatting for sm all screens/ mobile
	.Navbar__mobile {
		display: flex;
		justify-content: space-between;
		padding: 0px 20px;

		.Navbar__mobile--icon {
			display: flex;
		}
		.Navbar__mobile--content {
			position: absolute;
			top: 70px;
			right: 5px;
			background-color: $grey;
			z-index: 20;
			border-radius: 4px;
			display: flex;
			flex-direction: column;
			animation-name: visible;
			animation-duration: 0.5s;
			animation-fill-mode: both;

			a {
				border-bottom: 1px solid $white;
				text-align: left;
				width: 100%;
				padding: 20px;
				text-decoration: none;
				color: $white;
				&:focus,
				&:hover {
					background-color: $greyLight;
				}
			}
		}
		.visible {
			display: flex;
		}
		.invisible {
			display: none;
		}
	}
}

//animation that causes the span to slide in from left to right
@keyframes slideIn {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

//fade in the drop down menu
@keyframes visible {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

//content is arranged as a row & centered verticall + horizontally
.center__vh--row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
