$background: #000000;
$grey: #202020;
$white: #cdcdcd;

.Navbar {
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
	margin-bottom: 40px;

	.Navbar__container {
		height: 100%;
		width: 85%;
		display: flex;
		justify-content: space-between;

		.Navbar__container--image {
			width: 25%;
		}
		.Navbar__container--content {
			width: 45%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: row;

			div {
				display: flex;
				flex-direction: column;
				a {
					text-decoration: none;
					color: $white;
				}
				span {
					height: 3px;
				}
				&:hover {
					span {
						background-color: $white;
						animation-name: slideIn;
						animation-duration: 0.15s;
						animation-fill-mode: both;
					}
				}
			}
		}
	}
}

@keyframes slideIn {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
