$background: #000000;
$greyDark: #3b3b3b;
$greyLight: #86878b;
$white: #f2f2f2;

//breakpoint at 960px between views
.home {
	display: flex;
}
@media screen and (max-width: 960px) {
	.home {
		width: 100%;
		flex-direction: column;
	}
}

@media screen and (min-width: 960px) {
	::-webkit-scrollbar {
		height: 5px;
	}
	::-webkit-scrollbar-track {
		background: $greyDark;
	}
	::-webkit-scrollbar-thumb {
		background: $greyLight;
	}
	::-webkit-scrollbar-thumb:hover {
		background: $white;
		cursor: grab;
	}
	.home {
		margin: 0px 50px;
		padding-top: 20px;
		padding-bottom: 150px;
		flex-direction: row;
		overflow-x: scroll;

		&:hover {
			.home__video {
				opacity: 0.5;
			}
		}

		.home__video {
			&:hover {
				opacity: 1;
			}
		}
	}
}
