$background: #000000;
$greyDark: #3b3b3b;
$greyLight: #86878b;
$white: #f2f2f2;

//breakpoint at 960px between views

@media screen and (max-width: 960px) {
	.home {
		width: 100%;
		flex-direction: column;
		.home__wrapper {
			margin: 0;
			padding: 0;
			.home__video {
				margin: 0;
				padding: 0;
			}
		}
	}
}

@media screen and (min-width: 960px) {
	::-webkit-scrollbar {
		height: 7px;
	}
	::-webkit-scrollbar-track {
		background: $greyDark;
	}
	::-webkit-scrollbar-thumb {
		background: $greyLight;
	}
	::-webkit-scrollbar-thumb:hover {
		background: $white;
		cursor: grab;
	}
	.home {
		color: $white;
		margin: 50px;
		padding-bottom: 10%;
		overflow-x: scroll;
		scroll-behavior: smooth;

		.home__wrapper {
			display: flex;
			flex-direction: row;
			cursor: grab;

			&:hover {
				.home__video {
					opacity: 0.35;
					transition: 0.12s ease-in-out;
				}
			}
			.home__video {
				margin-bottom: 10px;
				&:hover {
					opacity: 1;
					transition: 0.12s ease-in-out;
				}
			}
		}
	}
}
